<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3>Welcome to Clean Cutz</h3>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone Number">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <p>Barber Name</p>
        </div>
        <select>
          <option>Next Available</option>
          <option>John Doe</option>
          <option>Prentiss Perry</option>
          <option>Cut Master</option>
        </select>
      </label>
      <button class="button button-block button-positive">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
